---
const nav_item_1 = "about";
const nav_item_2 = "text1";
const nav_item_3 = "text2";
const nav_item_4 = "contact";
import NavCard from "./NavCard.astro";
---

<script>
  let navbar = document.getElementById("navbar");
  window.onscroll = function () {
    myFunction();
  };
  window.onload = function () {
    myFunction();
  };
  function myFunction() {
    let sticky = navbar.offsetTop;
    if (window.pageYOffset >= sticky + 450) {
      navbar.classList.add("nav_bg");
    } else {
      navbar.classList.remove("nav_bg");
    }
  }
</script>

<div>
  <nav class="navbar" id="navbar">
    <!-- <img src={logo} class="logo" alt="logo" /> -->
    <ul>
      <li>
        <a href="#" id="">Logo</a>
      </li>
      <li id="about">
        <a href="#">{nav_item_1}</a>
      </li>
      <div class="nav_view" id="about_view">
        <NavCard />
        <NavCard />
        <NavCard />
        <NavCard />
        <NavCard />
        <NavCard />
      </div>
      <li id="text1">
        <a href="#">{nav_item_2}</a>
      </li>
      <div class="nav_view" id="text1_view"></div>
      <li id="text2">
        <a href="#">{nav_item_3}</a>
      </li>
      <div class="nav_view" id="text2_view"></div>
      <li id="contact">
        <a href="#">{nav_item_4}</a>
      </li>
      <div class="nav_view" id="contact_view"></div>
    </ul>
  </nav>
</div>

<style>
  #navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 1rem 3rem 0.5rem;
  }
  ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 0 10px;
    list-style-type: none;
    margin: 0;
  }

  li {
    display: block;
    font-size: 1.5rem;
    font-weight: 200;
  }

  li:first-child {
    margin-right: auto;
  }

  li:first-child a {
    text-align: start;
  }
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .nav_bg {
    background-color: var(--dark_purble);
  }
  .nav_view {
    position: absolute;
    background: var(--dark_purble);
    width: 100vw;
    height: 200px;
    margin-top: 4rem;
    left: 0;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    grid-gap: 10px;
    padding: 1rem 10rem;
    display: none;
    /* visibility: hidden; */
  }
  #about:hover + #about_view {
    display: grid;
    /* visibility: visible; */
  }
  #text1:hover + #text1_view {
    display: grid;
    /* visibility: visible; */
  }
  #text2:hover + #text2_view {
    display: grid;
    /* visibility: visible; */
  }
  #contact:hover + #contact_view {
    display: grid;
    /* visibility: visible; */
  }
</style>
